<section class="section menu">
    <div class="container">
        <ul class="nav">
            <li><a href="/">Trang chủ</a></li>
            <% danhmucs.map(function (e) { %>
            <li><a href="/danh-muc/<%= e.ID %>"><%= e.TenDanhMuc %></a></li>
            <% }) %>
        </ul>
    </div>
</section>
<section class="section search">
    <div class="container text-right">
        <form action="/tim-kiem" method="get" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="search" class="form-control"  placeholder="Search">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</section>